
<div style="
        background-color: #B92B27;
        color: aliceblue;
        justify-content: center;
        align-items: center;
    ">
    <h3>hey <%= name %>! </h3>
    <p>access token recieved from NamasteBuddies.in</p>
    Click <a href="<%= TokenLink %>">here</a> to update your password!

</div>

