body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* padding-top: 30px; */ }

* {
  /* border: 1px solid black; */ }

header {
  display: flex;
  position: fixed;
  height: 30px;
  background-color: #B92B27;
  width: 100vw;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  color: white; }

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  color: white;
  text-decoration: none;
  transition: all .2s ease-in-out;
  margin-right: 3px; }

header a:hover {
  background-color: #811916; }

header p {
  user-select: none;
  justify-self: center;
  margin: 0; }

.list-content-wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 1fr;
  justify-items: center;
  align-items: center; }

.list-content-wrapper > a {
  text-decoration: none; }

.profile-btn {
  height: 100%;
  width: 100%;
  text-align: center;
  align-self: flex-start;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all ease-in-out .2s; }

.profile-btn img {
  height: 40px; }

.img-container {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  background-color: black;
  overflow: hidden; }

main {
  display: flex;
  flex-direction: column;
  align-items: center; }

.profile-btn:hover {
  background-color: #93939b; }

.msg-add-friend {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid gray;
  border-top-right-radius: 10px;
  cursor: pointer; }

.msg-add-friend .notification-badge {
  padding: 4px !important;
  background-color: #e95853 !important; }

.msg-add-friend:hover {
  background-color: #93939b; }

main {
  margin-top: 50px; }

main > div a {
  color: #0A58CA; }

main > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 4rem;
  width: 96%;
  position: relative;
  padding-bottom: 0;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all ease-in-out 0.5s; }

.side-list-border {
  height: 2px;
  width: 90%;
  border: 1px solid #B92B27;
  justify-self: flex-end;
  align-self: center;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  transition: all ease-in-out 0.5s; }

main > div:hover {
  background-color: #D9D9DB; }

main > div:hover > .side-list-border {
  width: 95%; }

body::-webkit-scrollbar {
  display: none; }
