<header>

    <div id="logo-container">
      <div id="logo-border"><a href=""><img src="/images/finalgif.gif" alt=""></a></div>
        
    </div>
    <div id="header-right">

      <div id="mini-options">
        <i class="fas fa-stream"></i>
      </div>
      <div id="notification-bell">
        <i class="fas fa-bell"></i>
      </div>
      <div id="user-profile">
        <i class="fas fa-user"></i>
      </div>


    </div>
</header>